@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&header=swap");

@import "tailwindcss";

:root {
  --accent: #3423a6;

  --dark: #070707;
  --light: #747274;
  --card: #f3f3f8;

  --bg: #ebebff;
  --fg: #070707;
  --red: #f90404;
  --shadow: #1313270a;
  --outline: #2d2d2b0a;

  /* --rdp-accent-color: red !important; */
}

@theme {
  --spacing: 1em;

  --color-accent: #3423a6;
  --color-dark: #070707;
  --color-light: #747274;
  --color-card: #f3f3f8;
  --color-bg: #ebebff;
  --color-fg: #070707;
  --color-red: #f90404;
  --color-shadow: #1313270a;
  --color-outline: #2d2d2b0a;

  --font-base: "Montserrat", sans-serif;
  --font-header: "Inter", sans-serif;

  --breakpoint-xs: 360px;
}

.rdp-root {
  --rdp-accent-color: var(--accent) !important;
}

/* Example global styles */
html,
body {
  @apply font-base bg-bg text-fg overflow-x-hidden;
}

* {
  @apply leading-[150%];
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  @apply font-header font-medium! leading-[120%]!;
}

h1,
.h1 {
  @apply text-[13.5vw] sm:text-[7.5vw] md:text-[7vw] lg:text-[5.5vw] leading-[100%];
}

h2,
.h2 {
  @apply text-[9vw] sm:text-[6vw] md:text-[5.5vw] lg:text-[3.75vw] leading-[120%];
}

h3,
.h3 {
  @apply text-[5.8vw] xs:text-xl md:text-[2.5vw] lg:text-[1.8vw] xl:text-2xl;
}

h4,
.h4 {
  @apply text-[5.5vw] xs:text-base md:text-[2.3vw] lg:text-[1.6vw] xl:text-xl;
}

p,
a,
button,
input,
.p,
div,
label,
textarea {
  @apply font-base text-[4vw] xs:text-sm md:text-[1.6vw] lg:text-[1vw] xl:text-sm leading-[150%] font-medium;
}

button,
a {
  @apply cursor-pointer;
}

.sm {
  @apply text-[3.5vw]! xs:text-xs! md:text-[1.5vw] lg:text-[1vw]! xl:text-sm! leading-[150%];
}

.container-x,
.container {
  @apply px-1 md:px-1.5 lg:px-3 max-w-full overflow-hidden;
}

.container-y,
.container {
  @apply py-2;
}

.flex-center {
  @apply flex justify-center items-center gap-1;
}

.flex-v-center {
  @apply flex items-center gap-1;
}

.flex-between {
  @apply flex justify-between items-center gap-1;
}

.max-w-1 {
  @apply md:max-w-[70vw] lg:max-w-[60vw];
}

.max-w-2 {
  @apply md:max-w-[60vw] lg:max-w-[50vw];
}

/* ! TABLES START */
.table td,
.table th {
  @apply px-1 py-0.75 text-left;
}

.table th {
  @apply font-medium py-1! font-header;
}

.table tr:nth-child(even),
.table th {
  @apply bg-card;
}

.table tr:nth-child(odd) {
  @apply bg-white;
}

/* ORDER LIST TABLE */
.order-list-table {
  @apply w-full min-w-75;
}

.order-list-table tr {
  @apply grid grid-cols-12 w-full items-center;
}
.order-list-table tr th:nth-child(1),
.order-list-table tr td:nth-child(1),
.order-list-table tr th:nth-child(2),
.order-list-table tr td:nth-child(2),
.order-list-table tr th:nth-child(3),
.order-list-table tr td:nth-child(3),
.order-list-table tr th:nth-child(4),
.order-list-table tr td:nth-child(4),
.order-list-table tr th:nth-child(6),
.order-list-table tr td:nth-child(6) {
  @apply col-span-2;
}

/* CUSTOMER LIST TABLE */
.customer-list-table {
  @apply w-full min-w-50;
}

.customer-list-table tr {
  @apply grid grid-cols-8 w-full items-center;
}

.customer-list-table tr th,
.customer-list-table tr td {
  @apply col-span-3 py-1.25;
}
.customer-list-table tr th:nth-child(3),
.customer-list-table tr td:nth-child(3) {
  @apply col-span-2;
}

/* ORDER ITEMS LIST TABLE */
.order-items-list-table {
  @apply w-full min-w-50;
}

.order-items-list-table tr {
  @apply grid grid-cols-5 w-full items-center border-b border-light/50;
}

.order-items-list-table tr:nth-child(even),
.order-items-list-table th {
  @apply bg-white;
}

.order-items-list-table tr:nth-child(odd) {
  @apply bg-card;
}

.order-items-list-table tr th,
.order-items-list-table tr td {
  @apply col-span-1 py-1.5 lg:px-2;
}
.order-items-list-table tr th:nth-child(1),
.order-items-list-table tr td:nth-child(1) {
  @apply col-span-2;
}

/* ! TABLES END */

.show-md {
  @apply hidden md:flex;
}

.show-lg {
  @apply hidden lg:flex;
}

.show-xl {
  @apply hidden xl:flex;
}

.hide-md {
  @apply md:hidden;
}

.hide-lg {
  @apply lg:hidden;
}

.hide-xl {
  @apply xl:hidden;
}

.transition-500 {
  @apply transition duration-500;
}

.transition-700 {
  @apply transition duration-700;
}

.filter-btn {
  @apply text-left rounded-[0.5em] p-0.5 md:px-1 bg-white border border-outline;
}

.btn-1,
.btn-2 {
  @apply py-2 px-5 border font-medium rounded-lg uppercase;
}

.btn-1 {
  @apply text-accent border-accent;
}

.btn-2 {
  @apply text-black font-semibold border-accent;
}

.clip-bg {
  @apply absolute translate-y-[-50%] translate-x-[-50%] top-[200px] left-[50%] w-[400px] h-[400px] rounded-full scale-0;
}

/* ! FORM */
.input-block {
  @apply flex flex-col gap-2;
}

label {
  @apply text-[--black] font-medium;
}

/* input,
.input,
textarea {
  @apply bg-card py-0.5 px-1 rounded-lg outline-none border-none focus:ring-[0.1em] focus:ring-card backdrop-blur-md;
} */

input::placeholder,
textarea::placeholder {
  @apply text-fg/60;
}

input,
.input {
  @apply w-full;
}

textarea {
  @apply w-full min-h-[8em] resize-none;
}

.input-icon {
  @apply !text-white flex items-center justify-center size-5;
}

.text-error {
  @apply text-red-500;
}

.border-success {
  @apply border-accent;
}

/* textarea:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--black) !important;
} */

.hover-scale {
  @apply transform-gpu hover:scale-105 duration-500 transition;
}

/* CARDS */
.card-0,
.card-1 {
  @apply bg-white shadow-lg shadow-shadow rounded-[0.5em] w-full overflow-clip;
}

.card-1 {
  @apply p-1;
}
